.form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 3.2%;
}
.form-group {
    margin: 0 2%;
    margin-bottom: 0 !important;
}
.btn-outline-success {
    margin-right: -2%;
    width: 10%;
}

